*,
*::after,
*::before {
  box-sizing: border-box;
}

/*--- VARIABLES ---*/
$azul: #222b57;
$gris: #4d4a4a;
$blanco: #fff;
$font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$bold: 700;
$semi: 600;
$reg: 400;
$light: 300;

$breakpoints: (
  xs: 320px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px, //base 
  xxl: 1440px
);

// Mixins for each breakpoint
@mixin xs {
  $value: map-get($breakpoints, xs);
  @media only screen and (min-width: #{$value}) {
    @content;
  }
}

@mixin xs-max {
  $value: map-get($breakpoints, xs);
  @media only screen and (max-width: #{$value}) {
    @content;
  }
}

@mixin sm {
  $value: map-get($breakpoints, sm);
  @media only screen and (min-width: #{$value}) {
    @content;
  }
}

@mixin sm-max {
  $value: map-get($breakpoints, sm);
  @media only screen and (max-width: #{$value}) {
    @content;
  }
}

@mixin md {
  $value: map-get($breakpoints, md);
  @media only screen and (min-width: #{$value}) {
    @content;
  }
}

@mixin md-max {
  $value: map-get($breakpoints, md);
  @media only screen and (max-width: #{$value}) {
    @content;
  }
}

@mixin lg {
  $value: map-get($breakpoints, lg);
  @media only screen and (min-width: #{$value}) {
    @content;
  }
}

@mixin lg-max {
  $value: map-get($breakpoints, lg);
  @media only screen and (max-width: #{$value}) {
    @content;
  }
}

@mixin xl {
  $value: map-get($breakpoints, xl);
  @media only screen and (min-width: #{$value}) {
    @content;
  }
}

@mixin xl-max {
  $value: map-get($breakpoints, xl);
  @media only screen and (max-width: #{$value}) {
    @content;
  }
}

@mixin xxl {
  $value: map-get($breakpoints, xxl);
  @media only screen and (min-width: #{$value}) {
    @content;
  }
}

@mixin xxl-max {
  $value: map-get($breakpoints, xxl);
  @media only screen and (max-width: #{$value}) {
    @content;
  }
}


body,
h1, h2, h3, h4, p, button, a {
  padding: 0;
  margin: 0;
  font-family: $font;
}

.h2_title {
  font-size: 47px;
  font-weight: $semi;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
}

.h3_title {
  font-size: 29px;
  font-weight: $bold;
  text-transform: capitalize;
  text-align: center;
  margin: 15px 0 ;
}

.p_text {
  font-size: 18px;
  font-weight: $reg;
  text-align: justify;
}

.p_text.center {
  text-align: center;
}



.firstFold {
  position: relative;
  height: 639px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0 70px;
  &::before {
    content: "";
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: 
        url('../img/firstfold.jpg');
    background-position: center;
    background-size: cover;
    background-blend-mode: saturation;
    filter: brightness(60%);
    z-index: -1;
  }
  &--h1 {
    font-size: 75px;
    font-weight: $bold;
    text-transform: uppercase;
    text-align: right;
    color: $blanco;
  }
  &--line {
    display: block;
    height: 5px;
    background-color: $blanco;
    width: 650px;
    margin: 25px 0 30px 0;
  }
  &--btn {
    font-size: 34px;
    font-weight: $semi;
    text-transform: uppercase;
    color: $blanco;
    background: none;
    border: 2px solid $blanco;
    padding: 8px 16px;
    cursor: pointer;
    transform: all ease 0.3s;
    &:hover {
      background: $gris;
    }
  }
  @include lg-max {
    &--h1 {
      font-size: 50px;
    }
    &--line {
      width: 450px;
    }
    &--btn {
      font-size: 25px;
    }
  }
  @include sm-max {
    padding: 0 20px;
    &--h1 {
      font-size: 30px;
    }
    &--line {
      width: 250px;
    }
    &--btn {
      font-size: 20px;
    }
  }
}

.secondFold {
  background: $blanco;
  height: 273px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
  text-align: center;
  .firma {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
    &--num {
      font-size: 56px;
      font-weight: $bold;
      color: $azul;
    }
    &--txt {
      font-size: 28px;
      font-weight: $reg;
      color: $gris;
    }
  }
  @include md-max {
    padding: 40px 70px;
    height: auto;
    flex-wrap: wrap;
    row-gap: 40px;
    .firma {
      width: 50%;
      &--num {
        font-size: 40px;
      }
      &--txt {
        font-size: 20px;
      }
    }
  }
  @include sm-max {
    padding: 40px 20px;
    align-items: first baseline;
  }
}

.thirdFold {
  height: 570px;
  display: flex;
  color: $blanco;
  &--img {
    width: 50%;
    background: $gris;
  }
  &--values {
    width: 50%;
    background: $azul;
    display: flex;
    flex-direction: column;
    padding: 40px 70px;
    align-items: center;
    justify-content: space-around;
    .line2 {
      width: 100%;
      background: $blanco;
      height: 3px;
    }
  }
}

.fourthFold {
  color: $azul;
  background: $blanco;
  height: 630px;
  padding: 80px 70px;
  .areas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
    column-gap: 40px;
    .area {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      &--icon {
        height: 60px;
        width: 60px;
        border: 2px solid $azul;
        background: $azul;
      }
      &--line {
        height: 3px;
        width: 100px;
        background: $azul;
        margin-bottom: 15px;
      }
    }
  }
}